.custom-navbar {
  background-color: #343a40;
  color: white;
  padding: 0.75rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

.logOutBtn {
  border: none;
  border-radius: 5px;
  background-color: #495057;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.logOutBtn:hover {
  background-color: #6c757d;
}
