<div class="sidebar" [class.active]="isSidebarOpen">
  <h2 routerLink="/admin-dashboard" class="logo" style="cursor: pointer;">Payroll</h2>
  <ul class="nav-links">
    <li><a routerLink="/admin-dashboard"><i class="ri-speed-up-line"></i> Dashboard</a></li>
    <li><a routerLink="/employees"><i class="ri-user-3-line"></i> Employees</a></li>
    <li><a routerLink="/payruns"><i class="ri-money-rupee-circle-line"></i> Pay Runs</a></li>
    <li><a routerLink="/report"><i class="ri-file-chart-line"></i> Reports</a></li>
  </ul>
</div>

<button class="toggle-btn" (click)="toggleSidebar()">☰</button>
