:host {
  display: block;
  margin:auto;
  padding: 20px;
}
@media (max-width: 768px) {
  :host{
    margin-left: 20px;
  }
}

.employee-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.emp-right-header{
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.add-btn {
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters select,
.filters .more-filters {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.employee-table table {
  width: 80vw;
  border-collapse: collapse;
  font-size: 14px;
}

.employee-table th,
.employee-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-info img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.status {
  color: #d9534f;
  font-size: 13px;
}

.status a {
  color: #007bff;
  text-decoration: none;
  margin-left: 5px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters select,
.filters .search-btn {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-btn {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #0056b3;
}
